@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 250, 250, 250;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/** pasco-card layout*/
.pasco-container {
  border: 1px solid inherit;
}
.pasco-row {
  border: 1px solid inherit;
  margin: 10px auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.pasco-items {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.pasco-items-card {
  border: 1px solid inherit;
  width: 300px;
}

.more-on{
  border: 1px solid inherit;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.error-icon{
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px;
}
.error-icon p{
  font-size: 18px;
  color: gray;
}

.sidebar-hover{
  display: flex;
}
.sidebar-hover .side-menu{
  display: none;
}

.sidebar-hover:hover .side-menu{
  display: block;
  border: 1px solid inherit;
  padding: 10px;
  margin-left: 10px;
  color: #0f172a;
  background: #d6dbdc;
}

.menu {
  cursor: pointer;
}
.menu .submenu {
  display: none;
  border: 1px solid inherit;
}
.menu:hover .submenu{
  display: block;
}
